name: Lint

on:
  push:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 0.12.26

      - name: terraform fmt
        run: terraform fmt -check -recursive -diff

      # - name: 'module: terraform init'
      #   run: terraform init -backend=false

      - name: Lint Code Base
        uses: docker://github/super-linter:v3.13.1
        env:
          VALIDATE_ALL_CODEBASE: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Rocket.Chat Notification
        uses: RocketChat/Rocket.Chat.GitHub.Action.Notification@master
        if: always()
        with:
          type: ${{ job.status }}
          job_name: ':rocket: *Tests passed ${{ github.ref }}*'
          # mention: 'here'
          # mention_if: 'failure'
          # channel: '#github'
          commit: true
          url: ${{ secrets.ROCKETCHAT_WEBHOOK }}
          token: ${{ secrets.GITHUB_TOKEN}}